<%= form_with model: @customer, local: true do |f| %>
  <p>
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :zip, "郵便番号" %><br>
    <%= f.text_field :zip %>
  </p>

  <p>
    <%= f.label :address1, "住所1" %><br>
    <%= f.text_field :address1 %>
  </p>

  <p>
    <%= f.label :address2, "住所2" %><br>
    <%= f.text_field :address2 %>
  </p>

  <p>
    <%= f.label :tel, "電話番号" %><br>
    <%= f.text_field :tel %>
  </p>

  <p>
    <%= f.label :fax, "FAX番号" %><br>
    <%= f.text_field :fax %>
  </p>

  <p>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
