<h1>顧客削除確認</h1>

<p>本当にこの顧客を削除しますか？</p>
<p>氏名: <%= @customer.name %></p>
<p>住所: <%= @customer.address1 %> <%= @customer.address2 %></p>

<%= button_to "削除する", customer_path(@customer), method: :delete %>
<%= link_to "キャンセル", customers_path %>
