<h1>パスワード変更</h1>

<%= form_with url: update_password_path, method: :patch do |f| %>
  <div>
    <label>現在のパスワード</label>
    <%= password_field_tag :current_password %>
  </div>

  <div>
    <label>新しいパスワード</label>
    <%= password_field_tag :password %>
  </div>

  <div>
    <label>新しいパスワード（確認）</label>
    <%= password_field_tag :password_confirmation %>
  </div>

  <%= f.submit "変更する" %>
<% end %>

<!-- メニューに戻るリンク -->
<p>
  <%= link_to "メニューに戻る", menu_path %>
</p>
